@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.display-flex{
  display: flex;
}

.bg-color {
  background-color: #1A0B2E;
}


/* navbar */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 16px 200px 16px 200px;
  max-height: 92px;
}

.menu-items {
  list-style: none;
  margin-right: 32px;
}

.nav-menu {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
}

.btn {
  display: inline-flex;
  max-width: 135px;
  gap: 4px;
  max-height: 44px;
  padding: 12px 16px;
  border-radius: 1000px;
  color: #FFFFFF;
  background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  font-weight: 500;
  border: none;
  align-items: center;
}

.menu-icon {
  display: none;
}

/* for mobile devices */
@media (max-width: 576px) {
  .navbar {
    padding: 16px 20px;
    width: 100%;
    max-height: 60px;
  }

  .nav-menu {
    display: none;
  }

  .btn {
    display: none;
  }

  .menu-icon {
    display: block;
  }
} 